.Nevigation{
    color: #F7CA39;
    font-weight: 600;
    font-size: 20px;
    line-height: 90px;
    margin-left: 50px;
    transition: all .3s ease-in-out;
}

.Nevigation:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #643765;   
}

.dropitem {
    text-align: end;
    padding: 10px 10%;
    color: #F7CA39;
    font-weight: bold;
}

.dropitem:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #643765;   
}

@media(max-width:510px){
    .Nevigation{
        font-size: 15px;
        margin-left: 30px;
    }
}