.rightclientCard {
    width: 400px;
    background-color: white;
    height: 302px;
    padding: 40px 20px 55px 33px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 8px 15px #e0e0e0;
    position: absolute;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.midclientCard {
    width: 400px;
    background-color: rgb(236, 236, 236);
    height: 282px;
    padding: 35px 20px 55px 33px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 15px #e0e0e0;
    position: absolute;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.leftclientCard {
    width: 400px;
    background-color: rgb(228, 228, 228);
    height: 242px;
    padding: 25px 20px 55px 33px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 15px #e0e0e0;
    position: absolute;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.rightSlide {
    right: 0;
    z-index: 9;
}

.midSlide {
    right: 18%;
    z-index: 5;
    top: 10px;
}

.leftSlide {
    right: 34%;
    top: 25px;
}

.cardUser {
    margin-left: 15px;
}

.cardUsername {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 3px;
}

.cardContent {
    width: 100%;
    margin-top: 5px;
    font-size: 0.9rem;
    line-height: 30px;
}

.rightcardImg {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}

.midcardImg {
    width: 68px;
    height: 68px;
    border-radius: 50%;
}

.leftcardImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@media (max-width: 863px) {
    .midSlide {
        right: 15%;
    }

    .leftSlide {
        right: 28%;
    }
}

@media (max-width: 800px) {
    .midSlide {
        right: 10%;
    }

    .leftSlide {
        right: 20%;
    }
}

@media (max-width: 600px) {
    .midSlide {
        right: 5%;
    }

    .leftSlide {
        right: 10%;
    }
}

@media (max-width: 525px) {
    .rightclientCard,.leftclientCard,.midclientCard{
        width: 350px;
    }
}

@media (max-width: 470px) {
    .rightclientCard,.leftclientCard,.midclientCard{
        width: 325px;
    }
}

@media (max-width: 440px) {
    .rightclientCard,.leftclientCard,.midclientCard{
        width: 300px;
    }
}

@media (max-width: 376px) {
    .midSlide,.leftSlide {
        right: 0px;
        top: 0px;
    }

    .rightclientCard,.leftclientCard,.midclientCard {
        width: 300px;
        background-color: white;
        height: 302px;
        padding: 40px 20px 55px 33px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 8px 15px #e0e0e0;
        position: absolute;
        border-radius: 5px;
        transition: 1s ease-in-out;
    }
}


    