.whatWeDo {
    width: 100%;
    display: flex;
    margin: 50px 0px 0px 0px;
    height: 325px;
}

.whatWeDoContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whatWeDoHead {
    margin: 20px 50px;
    font-size: 2.7rem;
    color:  #643765;
    font-weight: bold;
}

.whatWeDoText {
    margin: 20px 50px;
    font-size: 0.9rem;
    line-height: 30px;
    color: grey;
}

.whatWeDoImg {
    width: 50%;
    background-size: cover;
    box-shadow: inset 0px 0px 50px 0px white;
}

@media (max-width: 655px){
    .whatWeDoContent {
        width: 55%;
    }

    .whatWeDoImg {
        width: 45%;
    }
}

@media (max-width: 566px){
    .whatWeDoImg {
        width: 100%;
        height: 125px;
        order: 1;
    }

    .whatWeDo {
        flex-direction: column;
        height: auto;
    }

    .whatWeDoContent {
        width: 100%;
        order: 2;
        text-align: center;
    }
}